@model List<Office>
    <body id="carIndex">
        @foreach (var office in Model)
        {
            <div class="row">
                <div class="col-md-8 offset-md-2" style="text-align: center;">
                    <table class="table">
                        <thead>
                            <tr class="text-center;">
                                <th>Office picture</th>
                                <th>Name</th>
                                <th>Location</th>
                                <th>Manager</th>
                                <th>Number</th>
                                <th>E-Mail</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody id="indexOffice">
                            <tr>
                                <td class="align-middle">
                                    <img class="rounded-circle" src="@office.PictureURL" />
                                </td>
                                <td class="align-middle">
                                    @office.Name
                                </td>
                                <td class="align-middle">
                                    @office.Location
                                </td>
                                <td class="align-middle">
                                    @office.Manager
                                </td>
                                <td class="align-middle">
                                    @office.Number
                                </td>
                                <td class="align-middle">
                                    @office.Email
                                </td>
                                <td class="align-middle">
                                    <div class="btn btn-outline-primary text-white" onclick="getOffice('@office.Id')"><i class="bi bi-pencil-square">Edit</i></div>
                                    <div class="btn btn-danger text-white" onclick="deleteOffice('@office.Id')"><i class="bi" bi-trash></i>Delete</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }

        <div style="position: fixed; right: 46%; top: 1%;" class="text-white">
            <a asp-controller="Office" asp-action="AddOffice" class="btn btn-success">
                <i class="bi bi-plus-circle"></i> Add New Office
            </a>
        </div>
</body>

        <script>
            const getOffice = (id) => {
                window.location = `/Office/GetOffice/${id}`
            }
        </script>

        <script>
            const deleteOffice = (id) => {
                window.location = `/Office/DeleteOffice/${id}`
            }
        </script>
