@model Car

@{ ViewData["Title"] = "Car details"; }
<body id="carIndex">
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="card mb-12">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @Model.Brand
                                    @Model.Model
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <br /><img src="@Model.Picture" width="160%" height="78%" alt="@Model.Brand">
                    </div>
                    <div class="col-md-8 text-center">
                        <div class="card-body">
                            <p class="card-text"><b>Manufacture Date: </b><a>@Model.ManufactureDate.ToShortDateString()</a></p>
                            <p class="card-text"><b>Engine capacity: </b><a> @Model.Engine cc</a></p>
                            <p class="card-text"><b>Fuel: </b>@Model.Fuel</p>
                            <p class="card-text"><b>Power: </b><a>@Model.HorsePower <i>hp</i></a></p>
                            <p class="card-text"><b>Transmission: </b>@Model.Transmission</p>
                            <p class="card-text"><b>Doors: </b>@Model.Doors</p>
                            <p class="card-text"><b>Steering Wheel: </b>@Model.SteeringWheel</p>
                            <p class="card-text"><b>Color: </b>@Model.Color</p>
                            <p class="card-text"><b>Total Mileage: </b>@Model.TotalMileage km</p>
                            <p class="card-text"><b>Status: </b><span class="badge bg-success text-white">AVAILABLE</span></p>
                            <div class="col-md-12">
                                <div class="card-footer">
                                    <p class="card-text">
                                        <a class="btn btn-outline-primary float-right" asp-action="Index">Back to List</a>
                                        <a class="btn btn-success text-white">Price: @Model.SalePrice.ToString("c")</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>